* {
    background:rgba(0,0,0,0.2);
}

main {
    animation: rotateContainer 60000s linear;
}
main :not(:has(*)) {
    animation: rotateContents 60000s linear;
}

@keyframes rotateContainer {
  0% { transform: rotate(180deg); }
  100% { transform: rotate(0deg); }
}

@keyframes rotateContents {
  0% { transform: rotate(180deg); }
  100% { transform: rotate(05deg); }
}
