main {
    animation: rotateContainer 10s cubic-bezier(.5,1730,.5,-1730) infinite;
}
main :not(:has(*)) {
    animation: rotateContents 10s cubic-bezier(.5,1730,.5,-1730) infinite;
}

@keyframes rotateContainer {
  0% { transform: rotate(45deg); }
  100% { transform: rotate(-45deg); }
}

@keyframes rotateContents {
  0% { transform: rotate(-45deg); }
  100% { transform: rotate(45deg); }
}
