* {
    overflow: visible !important;
}

main {
    animation: rotateContainer 600s linear;
}
main :not(:has(*)) {
    animation: rotateContents 600s linear;
}

@keyframes rotateContainer {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(180deg); }
  0% { transform: rotate(0deg); }
}

@keyframes rotateContents {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-180deg); }
  0% { transform: rotate(0deg); }
}
